@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Project.UI.Models.ModelViewModel

@{
    ViewData["Title"] = "Add Model";
    ViewData["Username"] = @Model.User.UserName;
    ViewData["Role"] = @Model.User.Role;
    ViewData["Models"] = @Model.Models;
    ViewData["Materials"] = @Model.Materials;
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h2>
    Add Model
</h2>

<div class="container">
    <div id="loginbox" style="margin-top:50px;"
         class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">

            <div style="padding-top:30px;" class="panel-body">
                <div style="display:none;" id="login-alert"
                     class="alert alert-danger col-sm-12">
                </div>




                <form asp-controller="Admin" asp-action="AddModel"  enctype="multipart/form-data" role="form" method="post">
                    <div style="margin-bottom:15px" class="form-group">
                        <label asp-for="@Model.Model.Name">Name</label>
                        <input asp-for="@Model.Model.Name" class="form-control" placeholder="Name" />
                        <span asp-validation-for="@Model.Model.Name"></span>
                    </div>
                    <div style="margin-bottom:15px" class="form-group">
                        <label asp-for="@Model.File">Image</label>
                        <input asp-for="@Model.File" class="form-control" placeholder="Image Path" type="file" />
                        <span asp-validation-for="@Model.File"></span>
                    </div>
                    <input type="submit" value="Update" class="btn btn-xs btn-outline-success" />
                </form>

            </div>
        </div>
    </div>
</div>