@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Project.UI.Models.ProductModifyModel

@{
    ViewData["Title"] = "Update Product";
    ViewData["Username"] = @Model.User.UserName;
    ViewData["Role"] = @Model.User.Role;
    ViewData["Materials"] = @Model.Materials;
    ViewData["Models"] = @Model.Models;
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h2>
    Update product
</h2>

<div class="container">
    <div id="loginbox" style="margin-top:50px;"
         class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">

            <div style="padding-top:30px;" class="panel-body">
                <div style="display:none;" id="login-alert"
                     class="alert alert-danger col-sm-12">
                </div>




                <form asp-controller="Admin" asp-action="UpdateProduct" enctype="multipart/form-data" role="form" method="post">
                    <div style="margin-bottom:15px;" hidden class="form-group">
                        <label asp-for="@Model.Product.Id">Id</label>
                        <input asp-for="@Model.Product.Id" class="form-control" placeholder="Id" />
                        <span asp-validation-for="@Model.Product.Id"></span>
                    </div>
                    <div style="margin-bottom:15px;" hidden class="form-group">
                        <label asp-for="@Model.Product.ImagePath">Photo</label>
                        <input asp-for="@Model.Product.ImagePath" class="form-control" placeholder="Id" />
                        <span asp-validation-for="@Model.Product.ImagePath"></span>
                    </div>
                    <div style="margin-bottom:15px" class="form-group">
                        <label asp-for="@Model.Product.Name">Name</label>
                        <input asp-for="@Model.Product.Name" class="form-control" placeholder="Name" />
                        <span asp-validation-for="@Model.Product.Name"></span>
                    </div>
                    <div style="margin-bottom:15px" class="form-group">
                        <label asp-for="@Model.Product.Model_Id">Model</label>

                        <select asp-for="@Model.Product.Model_Id" class="form-control"
                                asp-items="@(new SelectList(Model.Models, "Id", "Name"))">
                            <option>Please select one</option>
                        </select>

                    </div>
                    <div style="margin-bottom:15px" class="form-group">
                        <label asp-for="@Model.Product.Material_Id">Material</label>
                        <select asp-for="@Model.Product.Material_Id" class="form-control"
                                asp-items="@(new SelectList(Model.Materials, "Id", "Name"))">
                            <option>Please select one</option>
                        </select>

                    </div>
                    <div style="margin-bottom:15px" class="form-group">
                        <label asp-for="@Model.Product.Price">Price</label>
                        <input asp-for="@Model.Product.Price" class="form-control" placeholder="Price" />
                        <span asp-validation-for="@Model.Product.Price"></span>
                    </div>
                    <div style="margin-bottom:15px" class="form-group">
                        <label asp-for="@Model.Product.Quantity">Quantity</label>
                        <input asp-for="@Model.Product.Quantity" class="form-control" placeholder="Quantity" />
                        <span asp-validation-for="@Model.Product.Quantity"></span>
                    </div>
                    <div style="margin-bottom:15px" class="form-group">
                        <label asp-for="@Model.File">Image Path</label>
                        <input asp-for="@Model.File" class="form-control" placeholder="File" />
                        <span asp-validation-for="@Model.File"></span>
                    </div>
                    <div style="margin-bottom:15px" class="form-group">
                        <label asp-for="@Model.Product.OrderCount">Order Count</label>
                        <input asp-for="@Model.Product.OrderCount" class="form-control" placeholder="OrderCount" />
                        <span asp-validation-for="@Model.Product.OrderCount"></span>
                    </div>
                    <input type="submit" value="Update" class="btn btn-xs btn-outline-success" />
                </form>

            </div>
        </div>
    </div>
</div>