@model Project.UI.Models.ProductListViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
    ViewData["Username"] = @Model.User.UserName;
    ViewData["Role"] = @Model.User.Role;
    ViewData["Models"] = @Model.Models;
    ViewData["Materials"] = @Model.Materials;
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

 
    <div class="product-default-slider-section section-top-gap-100 section-fluid">
        
        <div class="section-title-wrapper aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-content-gap">
                            <div class="secton-content">
                                <h3 class="section-title">the Best Sellers</h3>
                                <p>Preorder now to receive exclusive deals &amp; gifts</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="product-wrapper aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product-slider-default-1row default-slider-nav-arrow">
                            <div class="swiper-container product-default-slider-4grid-1row swiper-container-initialized swiper-container-horizontal">
                                <div class="swiper-wrapper" id="swiper-wrapper-a7b185e597de019a" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                                    @foreach(var item in @Model.Products){
                                        @if(item.OrderCount > 40 && item.Model_Id == 12){

                                    <div class="product-default-single-item product-color--green swiper-slide" role="group" aria-label="3 / 8" style="width: 4837.5px; margin-right: 30px;">
                                        <div class="image-box">
                                            <a  asp-action="Product" asp-controller="Home" asp-route-productId="@item.Id" class="card-img-top">
                                                <img class="imageProduct" src="~/images/@item.ImagePath" alt="">
                                            </a>
                                            <div class="action-link">

                                                    <form asp-action="AddToCart" asp-controller="Home" asp-route-productId="@item.Id" method="post">
                                                        @if (item.Quantity > 0)
                                                       {
                                                           
                                                <div class="action-link-left">
                                                        <input type="submit" style="color:white;" value="Add To Cart" data-bs-toggle="modal" data-bs-target="#modalAddcart"/>
                                                </div>
                                                       }
                                                </form>
                                                <div class="action-link-right">
                                                                                                           </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title"><a  asp-action="Product" asp-controller="Home" asp-route-productId="@item.Id">@item.Name</a></h6>
                                                <ul class="review-star">
                                                @if(item.OrderCount > 10){

                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                }
                                                @if(item.OrderCount > 20){

                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                }
                                                @if(item.OrderCount > 30){

                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                }
                                                @if(item.OrderCount > 40){

                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                }
                                                @if(item.OrderCount > 50){

                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                }
                                                </ul>
                                            </div>
                                            <div class="content-right">
                                                <span class="price">$@item.Price</span>
                                            </div>

                                        </div>
                                    </div>
                                        }
                                    }
                                </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                            <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-a7b185e597de019a" aria-disabled="true"></div>
                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-a7b185e597de019a" aria-disabled="false" fdprocessedid="j7ml7s"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
    <div class="banner-section section-top-gap-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="banner-single-item banner-style-6 banner-animation img-responsive aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                        <div class="image">
                            <img src="~/images/bathh.jpg" alt="">
                        </div>
                        <div class="content">
                            <h2 class="title">The Pearl Of Your Bath</h2>
                            <p>First of all, quality and beauty of your bath is everything for us, and our misson is make sure that people get the best things for their bath</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
    
    

    
    <div class="banner-section section-top-gap-100">
        <div class="banner-wrapper clearfix">
        @foreach(var item in @Model.Models)
        {
            @if(item.Name == "Sink Units" || item.Name == "Mirrors" || item.Name == "Showers" || item.Name == "Toilets"){

            <div class="banner-single-item banner-style-4 banner-animation banner-color--green float-left aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                <div class="image">
                    <img class="img-fluid" src="~/images/@item.ImagePath" alt="">
                </div>
                    <a asp-action="Products" asp-controller="Home" asp-route-modelId="@item.Id" class="content">
                    <div class="inner">
                        <h4 class="title">@item.Name</h4>
                    </div>
                    <span class="round-btn"><i class="ion-ios-arrow-thin-right"></i></span>
                </a>
            </div>
            }
        }
        </div>
    </div>
    

    
    <div class="product-list-slider-section section-top-gap-100 section-fluid">
        <div class="section-title-wrapper aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-content-gap">
                            <div class="secton-content">
                                <h3 class="section-title">Products</h3>
                                <p>Best of industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrapper aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product-list-slider-3rows default-slider-nav-arrow">
                            <div class="swiper-container product-listview-slider-4grid-3rows swiper-container-initialized swiper-container-horizontal">
                                <div class="swiper-wrapper" id="swiper-wrapper-2d23434cbb070fc7" aria-live="polite" style="width: 9600px; transform: translate3d(0px, 0px, 0px);">
                                    @foreach(var item in @Model.Products){
                                    <div class="product-listview-single-item product-color--green swiper-slide swiper-slide-next" role="group" aria-label="2 / 15" style="width: 1890px; margin-right: 30px;">
                                        <div class="image-box">
                                            <a asp-action="Product" asp-controller="Home" asp-route-productId="@item.Id" class="image-link">
                                                <img class="imagePr" src="~/images/@item.ImagePath" alt="">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h6 class="title"><a asp-action="Product" asp-controller="Home" asp-route-productId="@item.Id">@item.Name</a></h6>
                                            <ul class="review-star">
                                                @if(item.OrderCount > 10){

                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                }
                                                @if(item.OrderCount > 20){

                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                }
                                                @if(item.OrderCount > 30){

                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                }
                                                @if(item.OrderCount > 40){

                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                }
                                                @if(item.OrderCount > 50){

                                                <li class="fill"><i class="ion-android-star"></i></li>
                                                }
                                            </ul>
                                            <span class="price">$@item.Price</span>
                                        </div>
                                    </div>
                                    }
                                    
                                </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                            <div class="swiper-button-prev d-none d-md-block swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-2d23434cbb070fc7" aria-disabled="true"></div>
                            <div class="swiper-button-next d-none d-md-block" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-2d23434cbb070fc7" aria-disabled="false" fdprocessedid="nsuh9"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
    