@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Project.UI.Models.ProductViewModel

@{
    ViewData["Title"] = @Model.Product.Name;
    ViewData["Models"] = @Model.Models;
    ViewData["Materials"] = @Model.MainMaterials;
    ViewData["Username"] = @Model.User.UserName;
    ViewData["Role"] = @Model.User.Role;
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="product-details-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="product-details-gallery-area aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                    <!-- Start Large Image -->
                    <div class="product-large-image product-large-image-horaizontal swiper-container swiper-container-initialized swiper-container-horizontal">
                        <div class="swiper-wrapper" id="swiper-wrapper-1b57379f0dfe737c" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive swiper-slide-active" role="group" aria-label="1 / 6" style="width: 625px; position: relative; overflow: hidden;">
                                <img src="~/images/@Model.Product.ImagePath" alt="">
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                    <!-- End Large Image -->
                    <!-- Start Thumbnail Image -->
                    <!-- End Thumbnail Image -->
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <div class="product-details-content-area product-details--golden aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <!-- Start  Product Details Text Area-->
                    <div class="product-details-text">
                        <h4 class="title">@Model.Product.Name</h4>
                        <div class="d-flex align-items-center">
                            <ul class="review-star">
                                @if (@Model.Product.OrderCount > 10)
                                {

                                    <li class="fill"><i class="ion-android-star"></i></li>
                                }
                                @if (@Model.Product.OrderCount > 20)
                                {

                                    <li class="fill"><i class="ion-android-star"></i></li>
                                }
                                @if (@Model.Product.OrderCount > 30)
                                {

                                    <li class="fill"><i class="ion-android-star"></i></li>
                                }
                                @if (@Model.Product.OrderCount > 40)
                                {

                                    <li class="fill"><i class="ion-android-star"></i></li>
                                }
                                @if (@Model.Product.OrderCount > 50)
                                {

                                    <li class="fill"><i class="ion-android-star"></i></li>
                                }
                            </ul>
                        </div>
                        <div class="price">$@Model.Product.Price</div>

                    </div> <!-- End  Product Details Text Area-->
                    <!-- Start Product Variable Area -->
                    <div class="product-details-variable">
                        <h4 class="title">Available Options</h4>
                        <!-- Product Variable Single Item -->
                        <div class="variable-single-item">
                            <div class="product-stock"> <span class="product-stock-in"><i class="ion-checkmark-circled"></i></span> @Model.Product.Quantity IN STOCK</div>
                        </div>
                        <!-- Product Variable Single Item -->
                        <div class="variable-single-item">
                            <span>Color</span>
                            <div class="product-variable-color">
                                @foreach (var item in @Model.Materials)
                                {
                                    <a asp-action="Product" asp-controller="Home" asp-route-productId="@item.ProductId" style="background-image:~/image/@item.Material.ImagePath" for="product-color-red">
                                        <img style="width:30px !important;height:40px !important;" src="~/images/@item.Material.ImagePath">
                                        <span class="product-color-red"></span>
                                    </a>

                                }

                            </div>
                        </div>
                        <form asp-action="AddToCart" asp-controller="Home" method="post">

                            <div class="d-flex align-items-center ">
                                <div class="variable-single-item ">
                                    <span>Quantity</span>
                                    <div class="product-variable-quantity">

                                        <input hidden name="productId" value="@Model.Product.Id" type="number">
                                        <input min="1" name="Quantity" max="@Model.Product.Quantity" value="1" type="number">
                                    </div>
                                </div>
                                @if (Model.Product.Quantity > 0)
                                {

                                    <div class="product-add-to-cart-btn">
                                        <input data-bs-toggle="modal" data-bs-target="#modalAddcart" type="submit" value="+ Add To Cart" />
                                    </div>
                                }
                            </div>
                        </form>
                        <!-- Start  Product Details Meta Area-->
                        <div class="product-details-meta mb-20">
                            
                        </div>
                    </div> 
                    <div class="product-details-catagory mb-2">
                        <span class="title">Model:</span>
                        <ul>
                            <li><a asp-action="Products" asp-controller="Home" asp-route-modelId="@Model.Product.Model_Id">@Model.ProductModel.Name</a></li>
                        </ul>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>


<div class="product-default-slider-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">RELATED PRODUCTS</h3>
                            <p>Browse the collection of our related products.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="product-wrapper aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-slider-default-1row default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-default-slider-4grid-1row swiper-container-initialized swiper-container-horizontal">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper" id="swiper-wrapper-10271011d347a4f566" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
                                <!-- End Product Default Single Item -->
                                <!-- Start Product Default Single Item -->
                                @foreach (var item in @Model.RelatedProducts)
                                {
                                    <div class="product-default-single-item product-color--golden swiper-slide swiper-slide-active" role="group" aria-label="1 / 8" style="width: 297.5px; margin-right: 30px;">
                                        <div class="image-box">
                                            <a asp-action="Product" asp-controller="Home" asp-route-productId="@item.Id" class="image-link">
                                                @if (item.Model_Id == Model.Models.FirstOrDefault(i => i.Name == "Hooks").Id)
                                                {
                                                    <img src="~/images/@item.ImagePath" alt="">

                                                }
                                                else
                                                {

                                                    <img class="imageProduct" src="~/images/@item.ImagePath" alt="">
                                                }
                                            </a>
                                            <div class="action-link">
                                                <form asp-action="AddToCart" asp-controller="Home" asp-route-productId="@item.Id" method="post">
                                                    @if (item.Quantity > 0)
                                                    {

                                                        <div class="action-link-left">
                                                            <input type="submit" style="color:white;" value="Add To Cart" data-bs-toggle="modal" data-bs-target="#modalAddcart" />
                                                        </div>
                                                    }
                                                </form>
                                                <div class="action-link-right">
                                                       
                                                    </div>
                                                <div class="action-link-right">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title">
                                                    <a asp-action="Product" asp-controller="Home" asp-route-productId="@item.Id">
                                                        @item.Name
                                                    </a>
                                                </h6>
                                                <ul class="review-star">
                                                    @if (@Model.Product.OrderCount > 10)
                                                    {

                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                    }
                                                    @if (@Model.Product.OrderCount > 20)
                                                    {

                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                    }
                                                    @if (@Model.Product.OrderCount > 30)
                                                    {

                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                    }
                                                    @if (@Model.Product.OrderCount > 40)
                                                    {

                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                    }
                                                    @if (@Model.Product.OrderCount > 50)
                                                    {

                                                        <li class="fill"><i class="ion-android-star"></i></li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="content-right">
                                                <span class="price">$@item.Price</span>
                                            </div>

                                        </div>
                                    </div>

                                }
                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-10271011d347a4f566" aria-disabled="true"></div>
                        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-10271011d347a4f566" aria-disabled="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>